.list-item {
  padding: 5px;
  background-color: rgb(14, 12, 12);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  text-align: center;
  list-style-type: none;
  font-weight: bold;
  font-size: 30px;
}
